body {
	color:#6593A6; /*1st color*/
	background-color:#6593A6; /*1st color*/
	padding:10px;
	font-family:"trebuchet ms";
}
h1 {
	color:#58595B; /*2nd color*/
	padding:5px;
	margin:5px;
}
h2 {
	color:#F2CF63; /*3rd color*/
	background-color:#58595B; /*2nd color*/
	padding:5px;
	font-variant:small-caps;
	margin-block-start:0;
    margin-block-end:0;
	border:5px;
	border-radius:8px 8px 0 0;
}
h3 {
	background-color:#F2C063; /*4th color*/
	color:#F2F2F2; /*5th color*/
	padding:5px;
	margin:0;
}
h4 {
	color:#6593A6;/*2nd color*/
	padding:5px;
	margin:5px;
}
p{
	padding-left:10px;
	padding-right:10px;
}
header {
	background-color:#F2CF63; /*3rd color*/
	text-align:center;
	font-size:140%;
	border:5px solid #58595B; /*2nd color*/
	border-radius:10px;
}
nav {
	padding:5px;
}
footer {
	color:#F2C063; /*4th color*/
	background-color:#58595B;	/*2nd color*/
	text-align:center;
	padding:5px;
}
footer a {
	color:#F2C063; /*4th color*/
}
details {
	color:#58595B; /*2nd color*/
	/*background-color:#58595B; /*random close tu 1 & 2 color*/
	line-height:150%;
	text-align:justify;
	font-style:italic;
}
summary{
	font-style:normal;
	color:#6593A6; /*1st color*/
	padding-left:10px;
	padding-right:10px;

}
article {
	background-color:#F2F2F2; /*5th color*/
	margin-top:10px;
	border:5px;
	border-radius:10px 10px 0 0;
}
