body {
	color:#555555;
	background-color:#444499;
	padding:10px;
	font-family:"trebuchet ms";
}
h1 {
	color:#3399ff;
	padding:5px;
	margin:5px;
}
h2 {
	color:#ffffdd;
	background-color:#228888;
	padding:5px;
	font-variant:small-caps;
	margin-block-start:0;
    margin-block-end:0;
}
h3 {
	color:#ffffff;
	background-color:#55bbbb;
	padding:5px;
	margin:0;
}
h4 {
	color:#55bbbb;
	padding:5px;
	margin:5px;
}
p{
	padding-left:10px;
	padding-right:10px;
}
header {
	background-color:#ffff88;
	text-align:center;
	font-size:140%;
}
nav {
	padding:5px;
}
footer {
	color:#ffffff;
	background-color:#3399ff;	
	text-align:center;
	padding:5px;
}
details {
	color:#555555;
	background-color:dddd88;
	line-height:150%;
	text-align:justify;
	font-style:italic;
}
summary{
	font-style:normal;
	color:#228888;
	padding-left:10px;
	padding-right:10px;

}
article {
	background-color:#ffee99;
	margin-top:10px;
}
